.main {
    position: relative;
    width: 100%;
    padding: 5%;
  
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1429019857339-35b401806fa1?crop=entropy&dpr=2&fit=crop&fm=jpg&h=1175&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1525");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 10%;

}

.jumbotron h1, p {
    color: white;
}

#carousel-example-generic {
    width: 75%;
    
}

.carousel-caption {
    position: absolute;
    font-size: 14px;
}


.row {
	background-color: #F2635F;
	padding: 5em;
}

.page-header h1 {
    color: #79BFA1;
}

.page-header small {

}