.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1429019857339-35b401806fa1?crop=entropy&dpr=2&fit=crop&fm=jpg&h=1175&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1525");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 10%;

}

.jumbotron h1, p {
    color: white;
}

.carousel-inner {
	height: 200px;
	max-width: 400px;
}

.carousel-inner img {
	max-width: 10%;
}

.row {
	background-color: #F2635F;
	padding: 5em;
}